

body {
	background-color: gray;
} 


h1 {
	color: yellow;
	text-align: center;
}


img {
	position: absolute;
	top: 150px;
	width: 400px; 
	height: 300px;
	border: 2px solid;
}

p{
	top: 436px;	 
	width: 400px;
	height: 40px;
	position: absolute;
	border: 1px solid gray;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 0px 0px 5px 5px; 
	padding: 15px 2px;
}

b{
	position: absolute;
	top: 390px;	 
	width: 300px;
	height: 20px;
	background: rgba(0, 0, 0, 0.5);
	padding: 15px;
	color: yellow;
}
#img1 {
	left: 50px;
}

#img2 {
	left: 475px;
} 

#img3 {
	left: 900px;
} 

#text1{

	left: 49px;
}
#text2{

	left: 474px;
}
#text3{

	left: 899px;
}



#title1{
	position: absolute;
	left: 50px;

}

#title2{
	position: absolute;
	left: 475px;
}

#title3{
	position: absolute;
	left: 900px;
}

#extended1{
	position: absolute;
	top: 150px;
	left: 51px; 
	width: 372px;
	height: 273px;
	background: rgba(0, 0, 0, 0.9);
	padding: 15px;
	color: white;
	display: none;
}

#extended2{
	position: absolute;
	top: 150px;
	left: 476px; 
	width: 372px;
	height: 273px;
	background: rgba(0, 0, 0, 0.9);
	padding: 15px;
	color: white;
	display: none;
}

#extended3{
	position: absolute;
	top: 150px;
	left: 901px; 
	width: 372px;
	height: 273px;
	background: rgba(0, 0, 0, 0.9	);
	padding: 15px;
	color: white;
	display: none;
}

.block1:hover #extended1{
	display: block;
}
.block2:hover #extended2{
	display: block;
}

.block3:hover #extended3{
	display: block;
}

